/* CSS Document */

/* --- Color Palette --- 
Primary (Safety Orange):         #FF7000
Secondary (Star Command Blue):   #0E79B2
Tertiary (Rose Red):             #BF1363
Light (Snow):                    #FBF6F9
Dark (Eerie Black):              #191923 
-------------------- */

.opaque {
	opacity: .8;
}

.margin-right {
	margin-right: 1em;
}

.banner {
	height: 100vh;
	margin: 0;
	background-image: url("../images/AdobeStock_83129477.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #FBF6F9;
	border-radius: 0;
}
.move-down {
	top: 0;
	position: relative;
	transition: 300ms ease;
	color: #FBF6F9;
}

.move-down:hover {
	top:10px;
	color: #FF7000;
}

.flex-center {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}
